{% extends "base.html" %}

{% block content %}
  <form action="" method="post">
    {% csrf_token %}
    {% if form.email.errors %}
      {{ form.email.errors }}
    {% endif %}
      <p>{{ form.email }}</p>
<script>
    const emailInput = document.getElementById("id_email");
    if (emailInput) {
        emailInput.setAttribute("placeholder", "Enter your email address");
    }
</script>
    <button type="submit" class="btn btn-default btn-lg">Reset password</button>
  </form>
{% endblock %}
